#  Análise dos dados de acordo com perfil do eleitorado

#### 1º Passo - Importar as bibliotecas a serem utilizadas

In [1]:
import pandas as pd #para ler, visualizar e printar informações da base de dados

#### 2º Passo - Subir a base de dados

In [2]:
filename = r'C:\Users\gabri\OneDrive\Área de Trabalho\FATEC\API - 1 sem\perfil_eleitor_secao_ATUAL_SP.csv'

df = pd.read_csv(filename, delimiter=';', encoding='Latin-1',
                 error_bad_lines=False)

Essa segunda base de dados será para colher as informações sobre o bairro da seção de votação. Essa informação será necessária para dividir em regiões da cidade

In [3]:
filename = r'C:\Users\gabri\OneDrive\Área de Trabalho\FATEC\API - 1 sem\eleitorado_local_votacao_2020.csv'

df_bairro = pd.read_csv(filename, delimiter=';', encoding='Latin-1',
                 error_bad_lines=False)

#### 3º Passo - Fazer limpeza e tratamento dos dados

Checar informações

In [4]:
df.head().T #para visualizar o começo da base de dados

,0,1,2,3,4
DT_GERACAO,09/04/2021,09/04/2021,09/04/2021,09/04/2021,09/04/2021
HH_GERACAO,11:52:18,11:52:18,11:52:18,11:52:18,11:52:18
ANO_ELEICAO,9999,9999,9999,9999,9999
SG_UF,SP,SP,SP,SP,SP
CD_MUNICIPIO,63134,63134,63134,63134,63134
NM_MUNICIPIO,CARAPICUÍBA,CARAPICUÍBA,CARAPICUÍBA,CARAPICUÍBA,CARAPICUÍBA
CD_MUN_SIT_BIOMETRIA,-2,-2,-2,-2,-2
DS_MUN_SIT_BIOMETRIA,Não se aplica,Não se aplica,Não se aplica,Não se aplica,Não se aplica
NR_ZONA,303,303,303,303,303
NR_SECAO,372,372,373,373,373
CD_GENERO,4,4,2,2,2
DS_GENERO,FEMININO,FEMININO,MASCULINO,MASCULINO,MASCULINO
CD_ESTADO_CIVIL,9,9,1,1,1
DS_ESTADO_CIVIL,DIVORCIADO,DIVORCIADO,SOLTEIRO,SOLTEIRO,SOLTEIRO
CD_FAIXA_ETARIA,5559,6569,1900,3539,5559
DS_FAIXA_ETARIA,55 a 59 anos,65 a 69 anos,19 anos,35 a 39 anos,55 a 59 anos
CD_GRAU_ESCOLARIDADE,6,3,7,3,6
DS_GRAU_ESCOLARIDADE,ENSINO MÉDIO COMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,SUPERIOR INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MÉDIO COMPLETO
QT_ELEITORES_PERFIL,1,1,1,4,1
QT_ELEITORES_BIOMETRIA,1,1,1,0,0
QT_ELEITORES_DEFICIENCIA,0,0,0,0,0
QT_ELEITORES_INC_NM_SOCIAL,0,0,0,0,0

In [5]:
df.info() #para obter informações da base de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15298684 entries, 0 to 15298683
Data columns (total 22 columns):
 #   Column                      Dtype
---  ------                      -----
 0   DT_GERACAO                  object
 1   HH_GERACAO                  object
 2   ANO_ELEICAO                 int64
 3   SG_UF                       object
 4   CD_MUNICIPIO                int64
 5   NM_MUNICIPIO                object
 6   CD_MUN_SIT_BIOMETRIA        int64
 7   DS_MUN_SIT_BIOMETRIA        object
 8   NR_ZONA                     int64
 9   NR_SECAO                    int64
 10  CD_GENERO                   int64
 11  DS_GENERO                   object
 12  CD_ESTADO_CIVIL             int64
 13  DS_ESTADO_CIVIL             object
 14  CD_FAIXA_ETARIA             int64
 15  DS_FAIXA_ETARIA             object
 16  CD_GRAU_ESCOLARIDADE        int64
 17  DS_GRAU_ESCOLARIDADE        object
 18  QT_ELEITORES_PERFIL         int64
 19  QT_ELEITORES_BIOMETRIA      int64
 20  QT_ELEITORES_DEFICIENCIA    int64
 21  QT_ELEITORES_INC_NM_SOCIAL  int64
dtypes: int64(13), object(9)
memory usage: 2.5+ GB

In [6]:
df.describe() #para ver um descrição mais detalhada

,ANO_ELEICAO,CD_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,NR_ZONA,NR_SECAO,CD_GENERO,CD_ESTADO_CIVIL,CD_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
count,15298684.0,1.529868e+07,15298684.0,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07,1.529868e+07
mean,9999.0,6.801387e+04,-2.0,2.415485e+02,2.012442e+02,3.084629e+00,2.905965e+00,4.743673e+03,5.011753e+00,2.069630e+00,1.536280e+00,2.634501e-02,2.450538e-04
std,0.0,3.475809e+03,0.0,1.289606e+02,1.683121e+02,9.998515e-01,2.371348e+00,1.755238e+03,1.981820e+00,2.468034e+00,1.933266e+00,1.901055e-01,1.568148e-02
min,9999.0,6.100000e+04,-2.0,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-3.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9999.0,6.477700e+04,-2.0,1.320000e+02,6.900000e+01,2.000000e+00,1.000000e+00,3.539000e+03,3.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,9999.0,6.961200e+04,-2.0,2.600000e+02,1.590000e+02,4.000000e+00,3.000000e+00,4.549000e+03,5.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,9999.0,7.107200e+04,-2.0,3.580000e+02,2.910000e+02,4.000000e+00,3.000000e+00,6.064000e+03,6.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00
max,9999.0,7.273700e+04,-2.0,4.270000e+02,1.045000e+03,4.000000e+00,9.000000e+00,9.999000e+03,8.000000e+00,8.700000e+01,7.500000e+01,3.000000e+01,2.000000e+00

Limpando informações duplicadas

In [7]:
df.drop_duplicates(keep='first', inplace=True)

Excluindo dados faltantes

In [8]:
df.dropna(inplace=True)

#### 4º Passo -  Aplicar filtros e parâmetros

#### Cidades que serão analisadas

In [9]:

sjc = df.query('NM_MUNICIPIO == "SÃO JOSÉ DOS CAMPOS"')
tbt = df.query('NM_MUNICIPIO == "TAUBATÉ"')
pinda = df.query('NM_MUNICIPIO == "PINDAMONHANGABA"')
caragua = df.query('NM_MUNICIPIO == "CARAGUATATUBA"')
jac = df.query('NM_MUNICIPIO == "JACAREÍ"')

#### Inserindo uma nova coluna com o nome do bairro

In [11]:
secao = ['NR_SECAO','NM_BAIRRO','NM_MUNICIPIO']

In [12]:
df_bairro = df_bairro.filter(items=secao)

In [13]:
sjcampos = df_bairro.query('NM_MUNICIPIO == "SÃO JOSÉ DOS CAMPOS"')
taubate = df_bairro.query('NM_MUNICIPIO == "TAUBATÉ"')
pindamo = df_bairro.query('NM_MUNICIPIO == "PINDAMONHANGABA"')
caraguatatuba = df_bairro.query('NM_MUNICIPIO == "CARAGUATATUBA"')
jacarei = df_bairro.query('NM_MUNICIPIO == "JACAREÍ"')

In [14]:
sjc = pd.merge(sjc, sjcampos, on='NR_SECAO')
tbt = pd.merge(tbt,taubate, on='NR_SECAO')
pinda = pd.merge(pinda , pindamo, on='NR_SECAO')
caragua = pd.merge(caragua, caraguatatuba, on='NR_SECAO')
jac = pd.merge(jac, jacarei, on='NR_SECAO')

In [15]:
sjc.drop(columns=['NM_MUNICIPIO_y'], inplace=True)
tbt.drop(columns=['NM_MUNICIPIO_y'], inplace=True)
pinda.drop(columns=['NM_MUNICIPIO_y'], inplace=True)
caragua.drop(columns=['NM_MUNICIPIO_y'], inplace=True)
jac.drop(columns=['NM_MUNICIPIO_y'], inplace=True)

In [21]:
sjc.rename(columns={'NM_MUNICIPIO_x': 'NM_MUNICIPIO', }, inplace=True)
tbt.rename(columns={'NM_MUNICIPIO_x': 'NM_MUNICIPIO', }, inplace=True)
pinda.rename(columns={'NM_MUNICIPIO_x': 'NM_MUNICIPIO', }, inplace=True)
caragua.rename(columns={'NM_MUNICIPIO_x': 'NM_MUNICIPIO', }, inplace=True)
jac.rename(columns={'NM_MUNICIPIO_x': 'NM_MUNICIPIO', }, inplace=True)

#### Idade

In [75]:
idade = ['DS_FAIXA_ETARIA','NM_MUNICIPIO']

In [76]:
faixaEtariaSJC = sjc.filter(items=idade).groupby('DS_FAIXA_ETARIA').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
faixaEtariaTaubate = tbt.filter(items=idade).groupby('DS_FAIXA_ETARIA').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
faixaEtariaPinda = pinda.filter(items=idade).groupby('DS_FAIXA_ETARIA').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
faixaEtariaCaragua = caragua.filter(items=idade).groupby('DS_FAIXA_ETARIA').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
faixaEtariaJacarei = jac.filter(items=idade).groupby('DS_FAIXA_ETARIA').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)

In [77]:
faixaEtariaSJC

                                NM_MUNICIPIO
DS_FAIXA_ETARIA
55 a 59 anos                           60120
50 a 54 anos                           59213
45 a 49 anos                           58822
40 a 44 anos                           58060
60 a 64 anos                           55059
35 a 39 anos                           53791
30 a 34 anos                           47183
65 a 69 anos                           44862
25 a 29 anos                           42519
70 a 74 anos                           29005
21 a 24 anos                           28438
75 a 79 anos                           13513
20 anos                                12384
19 anos                                11006
18 anos                                 7071
80 a 84 anos                            5644
17 anos                                 2609
85 a 89 anos                            1966
90 a 94 anos                             491
16 anos                                  184
95 a 99 anos                              88
Inválido                                   2

#### Escolaridade

In [25]:
escolaridade = ['DS_GRAU_ESCOLARIDADE','NM_MUNICIPIO']

In [26]:
escolaridadeSJC = sjc.filter(items=escolaridade).groupby('DS_GRAU_ESCOLARIDADE').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
escolaridadeTaubate = tbt.filter(items=escolaridade).groupby('DS_GRAU_ESCOLARIDADE').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
escolaridadePinda = pinda.filter(items=escolaridade).groupby('DS_GRAU_ESCOLARIDADE').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
escolaridadeCaragua = caragua.filter(items=escolaridade).groupby('DS_GRAU_ESCOLARIDADE').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
escolaridadeJacarei = jac.filter(items=escolaridade).groupby('DS_GRAU_ESCOLARIDADE').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)

In [98]:
escolaridadeTaubate

                               NM_MUNICIPIO
DS_GRAU_ESCOLARIDADE
ENSINO MÉDIO COMPLETO                 88022
ENSINO FUNDAMENTAL INCOMPLETO         79806
SUPERIOR COMPLETO                     59896
ENSINO FUNDAMENTAL COMPLETO           42920
ENSINO MÉDIO INCOMPLETO               40244
SUPERIOR INCOMPLETO                   29794
LÊ E ESCREVE                          16860
ANALFABETO                            10190

#### Gênero

In [28]:
genero = ['DS_GENERO','NM_MUNICIPIO']

In [29]:
generoSJC = sjc.filter(items=genero).groupby('DS_GENERO').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
generoTaubate = tbt.filter(items=genero).groupby('DS_GENERO').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
generoPinda = pinda.filter(items=genero).groupby('DS_GENERO').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
generoCaragua = caragua.filter(items=genero).groupby('DS_GENERO').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
generoJacarei = jac.filter(items=genero).groupby('DS_GENERO').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)

In [99]:
generoPinda

           NM_MUNICIPIO
DS_GENERO
FEMININO          28907
MASCULINO         24532

#### Estado Civil

In [31]:
estado_civil = ['DS_ESTADO_CIVIL','NM_MUNICIPIO']

In [32]:
estadoCivilSJC = sjc.filter(items=estado_civil).groupby('DS_ESTADO_CIVIL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
estadoCivilTaubate = tbt.filter(items=estado_civil).groupby('DS_ESTADO_CIVIL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
estadoCivilPinda = pinda.filter(items=estado_civil).groupby('DS_ESTADO_CIVIL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
estadoCivilCaragua = caragua.filter(items=estado_civil).groupby('DS_ESTADO_CIVIL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
estadoCivilJacarei = jac.filter(items=estado_civil).groupby('DS_ESTADO_CIVIL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)

In [101]:
estadoCivilCaragua

                        NM_MUNICIPIO
DS_ESTADO_CIVIL
SOLTEIRO                       20180
CASADO                         19356
DIVORCIADO                      5356
VIÚVO                           2464
SEPARADO JUDICIALMENTE          1453

#### Nome Social

In [34]:
nome_social = ['QT_ELEITORES_INC_NM_SOCIAL','NM_MUNICIPIO']

In [35]:
nSocialSJC = sjc.filter(items=nome_social).groupby('QT_ELEITORES_INC_NM_SOCIAL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
nSocialTaubate = tbt.filter(items=nome_social).groupby('QT_ELEITORES_INC_NM_SOCIAL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
nSocialPinda = pinda.filter(items=nome_social).groupby('QT_ELEITORES_INC_NM_SOCIAL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
nSocialCaragua = caragua.filter(items=nome_social).groupby('QT_ELEITORES_INC_NM_SOCIAL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)
nSocialJacarei = jac.filter(items=nome_social).groupby('QT_ELEITORES_INC_NM_SOCIAL').count().sort_values(by = 'NM_MUNICIPIO',ascending=False)

In [102]:
nSocialJacarei

                            NM_MUNICIPIO
QT_ELEITORES_INC_NM_SOCIAL
0                                 117163
1                                     22

Legenda: 

>  0 - Não utiliza nome social

>  1 - Utiliza nome social

#### Eleitores PNE

In [37]:
PNESJC = sjc['QT_ELEITORES_DEFICIENCIA'].value_counts()
PNETaubate = tbt['QT_ELEITORES_DEFICIENCIA'].value_counts()
PNEPinda = pinda['QT_ELEITORES_DEFICIENCIA'].value_counts()
PNECaragua = caragua['QT_ELEITORES_DEFICIENCIA'].value_counts()
PNEJacarei = jac['QT_ELEITORES_DEFICIENCIA'].value_counts()

A função a seguir serve para dividir os dados em: PNE e Não PNE. Os dados estão registrados informando os diversos tipos de necessidaes especiais, a função agrupa todos no grupo PNE e os que não forem são agrupados no grupo Não PNE.

In [38]:
def PNE(y):
    x=0
    naotem = 0
    for i in y:
        i+=1
        if y.index[x] == naotem: 
            nao = y.values[x]
            x+=1
    return nao

In [39]:
naoPossuiSJC = PNE(PNESJC)
naoPossuiTaubate = PNE(PNETaubate)
naoPossuiPinda = PNE(PNEPinda)
naoPossuiCaragua = PNE(PNECaragua)
naoPossuiJacarei = PNE(PNEJacarei)

Para saber quantos possuem, fazemos a diferença entre o total de eleitores PNE e os que não possuem necessidades especiais

In [40]:
PossuiSJC = sum(PNESJC) - naoPossuiSJC
PossuiTaubate = sum(PNETaubate) - naoPossuiTaubate
PossuiPinda = sum(PNEPinda) - naoPossuiPinda
PossuiCaragua = sum(PNECaragua) - naoPossuiCaragua
PossuiJac = sum(PNEJacarei) - naoPossuiJacarei

#### 5º Passo -  Realizar análises

### Perfil do Eleitorado de São José dos Campos

In [ ]:
## Aqui estará os gráficos na próxima sprint e as análises feitas por região

### Perfil do Eleitorado de Taubaté

In [ ]:
## Aqui estará os gráficos na próxima sprint e as análises feitas por região

### Perfil do Eleitorado de Jacareí

In [ ]:
## Aqui estará os gráficos na próxima sprint e as análises feitas por região

### Perfil do Eleitorado de Pindamonhangaba

In [ ]:
## Aqui estará os gráficos na próxima sprint e as análises feitas por região

### Perfil do Eleitorado de Caraguatatuba

In [ ]:
## Aqui estará os gráficos na próxima sprint e as análises feitas por região

### Comparações entre cidades

#### Idades

In [85]:
def jovens(y):
    x=0
    a = [1600, 1700, 1800, 1900,2000, 2124, 2529]
    b = []
    outro = []
    for i in y:
        i+=1
        if y.index[x] in a: 
            b.append(y.values[x])
            x+=1
        else:
            outro.append(y.values[x])
            x+=1
    return b

def idosos(y):
    x=0
    idoso = [6064, 6569, 7074, 7579, 8084, 8589, 9094, 9599, 9999]
    b = []
    outro = []
    for i in y:
        i+=1
        if y.index[x] in idoso: 
            b.append(y.values[x])
            x+=1
        else:
            outro.append(y.values[x])
            x+=1
    return b

#### Qual a cidade com eleitores mais jovens?

Em quantidade

In [86]:
obj = [{'Cidade' : 'São José dos Campos', 'N° de Jovens' : sum(jovens(sjc['CD_FAIXA_ETARIA'].value_counts()))},
       {'Cidade' : 'Taubaté', 'N° de Jovens' : sum(jovens(tbt['CD_FAIXA_ETARIA'].value_counts()))}, 
       {'Cidade' :'Pindamonhagaba', 'N° de Jovens'  : sum(jovens(pinda['CD_FAIXA_ETARIA'].value_counts()))}, 
       {'Cidade' : 'Caraguatatuba','N° de Jovens' : sum(jovens(caragua['CD_FAIXA_ETARIA'].value_counts()))},
       { 'Cidade' : 'Jacareí','N° de Jovens' : sum(jovens(jac['CD_FAIXA_ETARIA'].value_counts()))}]

In [90]:
jovem = pd.DataFrame(obj).sort_values('N° de Jovens', ascending=False)
jovem

                Cidade  N° de Jovens
0  São José dos Campos        104211
1              Taubaté         51184
4              Jacareí         20397
2       Pindamonhagaba          9777
3        Caraguatatuba          8123

Em relação ao total de eleitores

In [88]:
porcent = [{'Cidade' : 'São José dos Campos', 'Jovens (%)' :round(((sum(jovens(sjc['CD_FAIXA_ETARIA'].value_counts())))/(sum(sjc['CD_FAIXA_ETARIA'].value_counts())))*100)},
           {'Cidade' : 'Taubaté', 'Jovens (%)' : round(((sum(jovens(tbt['CD_FAIXA_ETARIA'].value_counts())))/(sum(tbt['CD_FAIXA_ETARIA'].value_counts())))*100)}, 
           {'Cidade' :'Pindamonhagaba', 'Jovens (%)'  : round(((sum(jovens(pinda['CD_FAIXA_ETARIA'].value_counts())))/(sum(pinda['CD_FAIXA_ETARIA'].value_counts())))*100)}, 
       {'Cidade' : 'Caraguatatuba','Jovens (%)' : round(((sum(jovens(caragua['CD_FAIXA_ETARIA'].value_counts())))/(sum(caragua['CD_FAIXA_ETARIA'].value_counts())))*100)},
       { 'Cidade' : 'Jacareí','Jovens (%)' : round(((sum(jovens(jac['CD_FAIXA_ETARIA'].value_counts())))/(sum(jac['CD_FAIXA_ETARIA'].value_counts())))*100)}]

In [91]:
jovem_pocert = pd.DataFrame(porcent).sort_values('Jovens (%)', ascending=False)
jovem_pocert

                Cidade  Jovens (%)
0  São José dos Campos          18
2       Pindamonhagaba          18
3        Caraguatatuba          17
4              Jacareí          17
1              Taubaté          14

Qual a cidade com eleitores mais velhos?

Em quantidade

In [92]:
data =  [{'Cidade' : 'São José dos Campos', 'N° de Idosos' : sum(idosos(sjc['CD_FAIXA_ETARIA'].value_counts()))}, 
         {'Cidade' : 'Taubaté', 'N° de Idosos' : sum(idosos(tbt['CD_FAIXA_ETARIA'].value_counts()))}, 
         {'Cidade' :'Pindamonhagaba', 'N° de Idosos'  : sum(idosos(pinda['CD_FAIXA_ETARIA'].value_counts()))},
         {'Cidade' : 'Caraguatatuba','N° de Idosos' : sum(idosos(caragua['CD_FAIXA_ETARIA'].value_counts()))},
         { 'Cidade' : 'Jacareí','N° de Idosos' : sum(idosos(jac['CD_FAIXA_ETARIA'].value_counts()))}]

In [93]:
idoso = pd.DataFrame(data).sort_values('N° de Idosos', ascending=False)

In [94]:
idoso

                Cidade  N° de Idosos
0  São José dos Campos        150628
1              Taubaté        120476
4              Jacareí         30375
2       Pindamonhagaba         13321
3        Caraguatatuba         12340

Em relação ao total de eleitores

In [95]:
porcento = [{'Cidade' : 'São José dos Campos', 'Idosos (%)' :round(((sum(idosos(sjc['CD_FAIXA_ETARIA'].value_counts())))/(sum(sjc['CD_FAIXA_ETARIA'].value_counts())))*100)},
           {'Cidade' : 'Taubaté', 'Idosos (%)' : round(((sum(idosos(tbt['CD_FAIXA_ETARIA'].value_counts())))/(sum(tbt['CD_FAIXA_ETARIA'].value_counts())))*100)}, 
           {'Cidade' :'Pindamonhagaba','Idosos (%)'  : round(((sum(idosos(pinda['CD_FAIXA_ETARIA'].value_counts())))/(sum(pinda['CD_FAIXA_ETARIA'].value_counts())))*100)}, 
       {'Cidade' : 'Caraguatatuba','Idosos (%)': round(((sum(idosos(caragua['CD_FAIXA_ETARIA'].value_counts())))/(sum(caragua['CD_FAIXA_ETARIA'].value_counts())))*100)},
       { 'Cidade' : 'Jacareí','Idosos (%)' : round(((sum(idosos(jac['CD_FAIXA_ETARIA'].value_counts())))/(sum(jac['CD_FAIXA_ETARIA'].value_counts())))*100)}]

In [96]:
idoso_porcent = pd.DataFrame(porcento).sort_values('Idosos (%)', ascending=False)

In [97]:
idoso_porcent

                Cidade  Idosos (%)
1              Taubaté          33
4              Jacareí          26
0  São José dos Campos          25
2       Pindamonhagaba          25
3        Caraguatatuba          25